* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

/* html {
  background-image: url(./assets//images/ff14-concept.jpg);
} */

#root {
  flex-grow: 1;
  ;
  align-items: center;
}

.nav-comp-styling {
  font-size: 30px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 6vh;
  background-color: rgb(0, 0, 0);
}

.nav-comp-styling ul {
  display: flex;
  list-style-type: none;
  padding: 15px;
}

.nav-comp-styling ul a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 30px;
  text-decoration: none;
}

/**hover styling for nav elements**/
.nav-comp-styling ul a:hover {
  color: rgb(210, 211, 129);
}

.home-component-styling {
  height: 100vh;
  display: flex;
}

.home-greeting {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#home-background-image {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  position: absolute;
}

.image-overlay {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
}